<ion-view view-title="Ingrédient" class="page_ingredient">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="row">
    	<div class="col col-10">
    	</div>
    	<div class="col col-25 cercle1">
    		<img src="img/drink.png">
            <p >Sans Alcool</p>
    	</div>
    	<div class="col col-25">
    	</div>
    	<div class="col col-25 cercle2">
    		<img src="img/gluten.png">
            <p >Sans Gluten</p>
    	</div>
    </div>  
     <div class="row">
    	<div class="col col-10">
    	</div>
    	<div class="col col-25 cercle3">
    		<img src="img/oeuf.png">
            <p>Sans Oeuf</p>
    	</div>
    	<div class="col col-25">
    	</div>
    	<div class="col col-25 cercle4">
    		<img src="img/lait.png">
            <p >Sans Lactose</p>
    	</div>
    </div> 
     <div class="row">
    	<div class="col col-10">
    	</div>
    	<div class="col col-25 cercle5">
    		<img src="img/chocolat.png">
            <p>Chocolat</p>
    	</div>
    	<div class="col col-25">
    	</div>
    	<div class="col col-25 cercle6">
    		<img src="img/fruit.png">
            <p >Avec Fruit</p>
    	</div>
    </div> 
    <div class="row slide">
        <div class="col col-20">
        </div>
        
        <div class="boule1"></div>
        
        <div class="boule2">
        </div>
        <div class="boule3">
        </div>
        <p class="para">
        <i class="ion-chevron-right" ui-sref="app.friends" ></i>
        </p>
    </div>
    
   
    </ion-content>
</ion-view>
