<ion-view view-title="Difficulté" class="page_ingredient">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <img src="img/etoile1.png">
                <p class="dificulter_niveau">Facile</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <img src="img/etoile2.png">
                <p class="dificulter_niveau">Moyen</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <img src="img/etoile3.png">
                <p class="dificulter_niveau">Dificile</p>
            </div>
        </div>
        <div class="row slide">
        <div class="col col-20">
        </div>
        <p class="para">
        <i class="ion-chevron-left " ui-sref="app.activity"></i>
        </p>
        <div class="boule1_diffi"></div>
        
        <div class="boule2_diffi">
        </div>
        <div class="boule3_diffi">
        </div>
        <p class="para">
        <i class="ion-chevron-right" ui-sref="app.temps" ></i>
        </p>
    </div>
   
    </ion-content>
</ion-view>

