<ion-view view-title="Gallery" xmlns="http://www.w3.org/1999/html">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list full">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap" id="recettes">
                <div class="ink dark-bg">
                    <h2>Salade de fruits frais</h2>
                    <img class="full-image" src="img/sdff.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-android-restaurant"></i>
                        Facile
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-clock"></i>
                        20 minutes
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap" id="recettes">
                <div class="ink dark-bg">
                    <h2>Tarte aux fraises</h2>
                    <img class="full-image" src="img/tarte.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-android-restaurant"></i>
                        Moyen
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-clock"></i>
                        50 min
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
