<ion-view view-title="Inscription" class="inscription">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="app-icon"></div>
       <div class="list">
            <ion-md-input placeholder="identifiant" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="mot de passe" highlight-color="energized" type="password"></ion-md-input>
            <ion-md-input placeholder="pseudo" highlight-color="energized" type="text"></ion-md-input>
        </div>
       
        <div class="padding">
            <button ui-sref="app.inscription" style="background-color:#AB0A40;" class="button button-full button-assertive ink">Envoyer</button>
        </div>
       
   
    </ion-content>
</ion-view>


