<ion-view view-title="Profile">
    <ion-content>
        <h4><a id="titreRecette">Salade de fruits frais</a></h4>
            <i class="icon ion-android-restaurant assertive" style="display: inline-block; margin-left: 5px"></i>
            <p style="display: inline-block">Facile</p>
            <i class="icon ion-clock positive-900" style="display: inline-block; margin-left: 5px"></i>
            <p style="display: inline-block">20 minutes</p
        <i class="icon ion-heart assertive" style="display: inline-block; margin-left: 50%;"></i>
        <div class="hero" style="background-image: url('img/sdff.jpg');">
        </div>
        <ion-card>
            <ion-card header>
            <h3 class="content padding double-padding-x">Ingrédients</h3>
            </ion-card>
            <ion-list>
                <ion-item>1 banane</ion-item><hr>
                <ion-item>1 ananas</ion-item><hr>
                <ion-item>8 fraises</ion-item><hr>
                <ion-item>2 pommes</ion-item><hr>
                <ion-item>1 orange</ion-item><hr>
                <ion-item>3 kiwis </ion-item>
            </ion-list>
        </ion-card><hr id="hr"><br><br>
        <ion-card class="prep">
            <ion-card header>
                <h3 class="content padding-x" style="padding-left: 8px">Préparation</h3>
            </ion-card>
            <ion-list>
                <ion-item>
                    <p><span>1</span> Découper les fruits</p>
                    <div class="liste">
                        <p>Découper la banane en 18 petits morceaux</p>
                        <p>Découper l'ananas avec un couteau à pain</p>
                        <p>Découper le poulet dans un igloo</p>
                    </div>


                    <p><span>2</span> Déguster le poulet!</p>
                    <div class="liste">
                        <p>Et maintenant coller la petite !</p>
                    </div>
                </ion-item><hr>
            </ion-list>
        </ion-card>
    </ion-content>
</ion-view>