<ion-view view-title="Temps" class="page_ingredient">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
       <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <p>-20 min</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <p>-40 min</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-20"> 
            </div>
            <div class="diffi_cercle1"> 
                <p>-60 min</p>
            </div>
        </div>
        <div class="row slide">
        <div class="col col-20">
        </div>
        <p class="para">
        <i class="ion-chevron-left " ui-sref="app.friends"></i>
        </p>
        <div class="boule1_temps"></div>
        
        <div class="boule2_temps">
        </div>
        <div class="boule3_temps">
        </div>
        <p class="para">
        <i class="ion-chevron-right" ui-sref="app.temps" ></i>
        </p>
    </div>
   
    </ion-content>
</ion-view>

